    body {
    background-color: #1e2f5c;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 40px;
}

img {
    display: block;
    margin: 0 auto 20px;
    border-radius: 4px;
}
img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin: 0 auto 20px;
}


h1 {
    text-align: center;
    margin-bottom: 5px;
}

p {
    font-size: 14px;
    line-height: 1.6;
}

h2 {
    color: #7CFC00;
    margin-top: 40px;
}

h3 {
    margin-top: 20px;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin-bottom: 6px;
}

footer {
    background-color: #18264a;
    margin-top: 30px;
    padding: 15px;
    text-align: center;
}

a {
    color: #ff6b6b;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}
